/* GtkWindow {
	background: #eeeeee;
} */
.rcBtn {
	border-radius: 15px;
	border:1px solid #a1a1a1;
}
.button {
	background: #e5e5e5;
}
.button:hover {
	background-color: #1693d3;
}
.icnShutdown {
	color: #FF8585;
}
.icnStop {
	color: #FF8585;
}
.icnPause {
	color: #FFFF66;
}
.icnPlay {
	color: #a6c989;
}
.icnVolUp {
	color: #a6c989;
}
.icnVolDown {
	color: #FF8585;
}
